/* 基本スタイル */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: #f9fafc;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* 共通の背景スタイル */
.section-background {
  background-color: #fff;
  padding: 40px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 40px;
}

/* Header */
.header {
  padding: 20px;
  background: linear-gradient(135deg, #00BBC9, #007d7a);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.header h1 {
  font-size: 2rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-left: 20px;
}

.logo {
  height: 80px;
  width: auto;
}

/* 画像とスケジュールタイトル */
 /* Scheduleセクション全体を中央揃えにする */
#schedule-section {
  text-align: center; /* 見出しと画像を中央揃え */
  padding: 40px;
  background-color: #fff;
}

.schedule-title {
  font-size: 1.8rem;
  font-weight: 600;
  width: 300px;
  color: #333;
  margin-bottom: 20px;
  border-bottom: 2px solid #00BBC9; /* 青い下線を追加 */
  padding-bottom: 10px;
  display: inline-block; /* 下線を文字幅に合わせる */
  text-align: center; /* テキストを中央に配置 */
  margin-left: auto;
  margin-right: auto; /* 中央揃えのために左右マージンを自動設定 */
}

/* スケジュール画像も中央揃えにする */
.schedule-image {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: block;
  margin-left: auto;
  margin-right: auto; /* 画像も中央に配置 */
}

/* Newsセクション */
#news-section {
  padding: 40px;
  background-color: #f9fafc;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.news-title {
  width: 300px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 30px;
  border-bottom: 2px solid #00BBC9; /* 青い下線を追加 */
  padding-bottom: 10px;
  color: #333;
  margin-left: auto;
  margin-right: auto; /* 中央揃えのために左右マージンを自動設定 */
}

.news-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.news-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(33% - 20px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
}

.news-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #007d7a;
}

.news-item p {
  font-size: 1rem;
  color: #666;
}

/* PDF表示とフォーム */
#your-opinion {
  z-index: 2;
  width: 98vw;
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #fff;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  gap: 40px;
}


/* PDFセクションのレイアウト */
.pdf-section {
  width: 100%;
  max-width: 700px; /* 最大幅を大きく調整 */
  margin: 0 auto; /* セクション全体を中央に配置 */
}

/* PDF表示領域（スクロール可能） */
.pdf-display {
  width: 100%; /* 親コンテナの幅に合わせる */
  height: 600px; /* PDFの表示領域を大きくする */
  overflow-y: scroll; /* 縦スクロールを有効にする */
  border: 1px solid #ddd; /* 境界線を追加して見やすくする */
}

#pdf-viewer {
  width: 100%;
  height: auto;
}


canvas {
  width: 100% !important; /* キャンバスの幅を親要素に合わせる */
  height: auto !important; /* キャンバスの高さを自動で調整 */
  margin-bottom: 20px; /* 各ページの間に余白を追加 */
}

.pdf-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
  border-bottom: 2px solid #00BBC9;
  padding-bottom: 10px;
  text-align: left;
}

.pdf-title, .Form-Title {
  border-bottom: 2px solid #00BBC9;
  padding-bottom: 10px;
}

span{
  font-size: 0.8rem;
  color: red;
}

.Form-Title {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;
}

.Form-Item-Label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: 600;
  font-size: 22px;
}

.Form-Item-Description {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.Form-Item-Label-Required {
  border-radius: 4px;
  margin-right: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #00BBC9;
  color: #fff;
  font-size: 18px;
}

.Form-Item-Input, .Form-Item-Textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  background-color: #eee;
  transition: border-color 0.3s ease;
}

.Form-Item-Input:focus, .Form-Item-Textarea:focus {
  border-color: #00BBC9;
}

.Form-Item-Textarea {
  height: 280px;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  gap: 40px;
  align-items: stretch;
}

 #application {
  width: 48%;
  display: flex;
  flex-direction: column;
}

iframe {
  flex-grow: 1;
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.Form-Item, .Form-Btn {
  margin-bottom: 30px;
  flex-grow: 1;
}

.Form-Btn {
  width: 50%;
  padding: 10px;
  background-color: #00BBC9;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 0 auto;
  display: flex; /* フレックスボックスで中央に配置 */
  justify-content: center; /* 中央揃え */
  align-items: center; /* 垂直方向に中央揃え */
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 影を追加 */
}

.Form-Btn i {
  margin-left: 10px; /* アイコンとテキストの間にスペースを追加 */
}


.Form-Btn:hover {
  background-color: #008d97;
  transform: translateY(-3px);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* ホバー時に影を強調 */
}

/* リンクを中央に配置 */
.detail-link {
  text-align: center;
  margin-top: 20px;
}

/* ボタン風のリンクスタイル */
.detail-link a {
  display: inline-block;
  padding: 15px 30px;
  background: linear-gradient(45deg, #ff6b6b, #ff9472);
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50px; /* 丸みを強調 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

/* アイコンのスタイル */
.detail-link a i {
  margin-right: 10px;
}

/* ホバー時の効果 */
.detail-link a:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
/* Footer */
.footer {
  margin-top: auto;
  padding: 20px;
  background: #222;
  color: #fff;
  text-align: center;
}


/*--------------------
   タブレット対応
 --------------------*/
@media (max-width: 768px) {
  .header h1 {
    font-size: 1.8rem;
  }

  .content-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .pdf-title {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .Form-Title {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .pdf-display, #application {
    width: 100%;
  }

  .pdf-display {
    padding-right: 0;
  }

  .news-container {
    flex-direction: column;
  }

  .news-item {
    width: 100%;
  }
}

/*--------------------
   スマートフォン対応
 --------------------*/
@media (max-width: 480px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .header h1 {
    font-size: 1.5rem;
    margin-left: 0;
    text-align: center;
  }

  .logo {
    height: 60px;
  }

  .pdf-title, .Form-Title {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 1.8rem;
  }

  .pdf-display {
    width: 100%; /* 親コンテナの幅に合わせる */
    height: 300px; /* PDFの表示領域を大きくする */
    overflow-y: scroll; /* 縦スクロールを有効にする */
    border: 1px solid #ddd; /* 境界線を追加して見やすくする */
  }

  .Form-Title {
    margin-top: 20px;
  }

  .content-wrapper {
    padding: 10px;
    gap: 10px;
  }

  iframe {
    height: 350px;
  }

  .Form-Item-Input, .Form-Item-Textarea {
    padding: 10px;
    font-size: 14px;
  }

  .Form-Btn {
    padding: 10px;
    font-size: 16px;
  }


   /* スケジュール画像のサイズをスマホで大きくする */
   .schedule-image {
    max-width: 100%; /* スマホで最大幅を100%に設定 */
    height: auto; /* アスペクト比を維持して高さを自動調整 */
    margin: 0 auto; /* 画像を中央に配置 */
  }

  .news-item {
    font-size: 0.9rem;
  }
}
